@mixin aspect-ratio($ratio) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: $ratio * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
